<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html lang="pt-br">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>ModelAndView</title>
    </head>
    <body>
      <h1>Exemplo ModelAndView</h1>

      <p th:text="${professor}"></p>

      <ul>
        <li th:each="aluno : ${alunos}" th:text="${aluno}">---</li>
      </ul>

      <p th:if="${ehVerdade}">Java é mais divertido que Python!</p>
    </body>
  </html>
</html>
