<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/todo}">Home</a>
      </div>
    </nav>
    <main class="container">
      <h1 class="mt-4 mb-5">Lista de Tarefas</h1>
      <a th:href="@{/todo/create}" class="btn btn-sm btn-primary mb-3"
        >Nova tarefa</a
      >
      <table
        th:unless="${#lists.isEmpty(todos)}"
        class="table table-striped table-hover table-bordered border-secondary"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Criado em</th>
            <th scope="col">Data de Entrega</th>
            <th scope="col">Finalizado em</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="todo : ${todos}">
            <th scope="row" th:text="${todo.id}">---</th>
            <td th:text="${todo.title}"></td>
            <td th:text="${#temporals.format(todo.createdAt)}">---</td>
            <td th:text="${#temporals.format(todo.deadline)}">---</td>
            <td th:text="${#temporals.format(todo.finishedAt) ?: '-'}">---</td>
            <td>
              <a href="" class="btn btn-sm btn-primary">Concluir</a>
              <a
                th:href="@{/todo/edit/{id}(id=${todo.id})}"
                class="btn btn-sm btn-secondary"
                >Editar</a
              >
              <a
                th:href="@{/todo/delete/{id}(id=${todo.id})}"
                class="btn btn-sm btn-danger"
                >Excluir</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <p th:if="${#lists.isEmpty(todos)}">Nenhuma tarefa cadastrada.</p>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
